       {% extends "index.html" %}
        {% block content %}  
        {% from "formshelper.html" import render_field %}
         <h2 class="section-heading text-uppercase">Add Items</h2>
          <div class="row">
              <div class="offset-md-2 col-md-10">
                <form id="box-container" action ="" method="POST" novalidate>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input class="form-control" id="name" type="text" name="name" placeholder="Items name *" value="{{item.name}}" required >
                        {% for error in form.name.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                      </div>
                      <div class="form-group">
                          <textarea class="form-control" id="description" type="text" name="description" placeholder="Enter your description here...">
                                {{item.description}}
                          </textarea>
                        {% for error in form.description.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                      </div>
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 text-center">
                      <div id="success"></div>
                      <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">EDIT</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            {% endblock %}